.media img{ width: 66px;}
.tc{
	color: #c09000;
}
.map, .video{
	width: 100%;
}

.l-text{
	padding-left: 10px;
	  font-size: 16px;
}
/* update for custom */
.navbar {
	margin-top: 16px;
}
.navbar-brand{
	padding: 0;
}
.panel{
	margin-bottom: 4px;
}
.panel-body{
	padding: 10px;
}

.navbar-nav>li {
	margin-bottom: 10px;
}
@media only screen and (min-width: 768px){
	.navbar-nav>li {
		margin-left: 10px;
	}
}